.encouragement-popup {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size : 30px;
  background-color: #86d3ff;
  background-size: 40px 40px;
  background-position: center;
  border-radius: 10px;
  padding: 10px;
  display: block;
  
} 
.encouragement-popup h4 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.encouragement-popup div {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}