.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #38b6ff;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  color: white;
  white-space: nowrap;
  width: fit-content; /* set the width to a specific value */
  height: fit-content; /* set the height to a specific value */
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #004aad;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 100px;
}


.task-list {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size : 20px;
  color: white;
  background-image: square;
  background-color: #38b6ff;
  background-size: 50x 50px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}


h1  {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size : 20px;
}

button {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border : none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #38b6ff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #004aad;
}

.add-task-button {
  background-color: #4CAF50;
}

.add-task-button:hover {
  background-color: #3e8e41;
}

.complete-task-button {
  background-color: #f44336;
}

.complete-task-button:hover {
  background-color: #d32f2f;
}

.move-button {
  background-color: #2196F3;
}

.move-button:hover {
  background-color: #1976D2;
}

.delete-task-button, .move-button {
  padding: 8px 12px;
  font-size: 14px;
  margin-left: 10px;
}

input [type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.point-tracker {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size : 20px;
  color: white;
  background-image: square;
  background-color: #38b6ff;
  background-size: 50x 50px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.point {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size : 30px;
  text-align: center;
}

/*.point-increment-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size : 10px;
  text-align: right;
  background-color: green;
}
  */

.Task-Completion-tracker {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size : 20px;
  color: white;
  background-image: square;
  background-color: #38b6ff;
  background-size: 50x 50px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.Task-Completion-tracker, .point-tracker, .task-list {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size : 30px;
  text-align: center;
}

/*.task-increment-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size : 10px;
  text-align: right;
  background-color: green;
}*/

ol {
  padding: 0;
}

li{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
font-size: 32px;
font-weight: bold;
padding: 15px;
color: white;
background-color: #5ce1e6;
border-radius: 5px;
margin-bottom: 10px;
border: 3px solid #004aad;
display: flex;
align-items: center;
}

